.header{
    height: 40vh;
    position: relative;
    overflow: hidden;
    background: transparent;
    z-index: 1;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: linear-gradient(to left, #a6e9d5, #4dd4ac);
    z-index: -1;
}