{% extends 'layout.html' %}

{% block page_header %}
    {{ title }}
{% endblock page_header %}
{% block content %}

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Post</h1>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this post?
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('blog.delete', slug=post.slug) }}" class="btn btn-danger">Yes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-8 offset-md-2">
            <form action="" method="POST" id="form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control" value="{{post.title}}">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    {% if post and post.image%}
                        <a href="{{url_for('uploads', filename=post.image)}}">{{url_for('uploads', filename=post.image)}}</a>
                    {% endif %}
                    <input type="file" name="image" id="image" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Body</label>
                    <textarea rows='10' name="body" id="body" class="form-control">{{post.body}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="tags" class="form-label">Tags</label>
                    <input type="text" name="tags" id="tags" class="form-control" value="{{','.join(tags)}}">
                </div>
                <hr>
                <button class="btn btn-primary btn-lg float-start">Save Post</button>
            </form>
            {% if 'update' in request.url  %}
                <button type='button' class="btn btn-danger btn-lg float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Delete
                </button>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}