<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>{% block title %}Devblog{% endblock %}</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="my-3">
        <div class="container">
        <div class="col-md-6 offset-md-3">
            {% for category, message in messages %}
                {% if category == "error" %}
                    <div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between align-items-center" role="alert">
                        {{ message }}
                        <button type="buttion" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable fade show d-flex justify-content-between align-items-center" role="alert">
                        {{ message }}
                        <button type="buttion" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>    
                {% endif %}
            {% endfor %}
        </div>
        </div>
        </div>
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>